header {
  height: 75px;

}
.btn {
  margin-left: 15px;
}
.pied
{
  background-color: white;
  color: white;
  width: 10px;
  margin-top: -30px;
}
.prix
{
  background-color: white;
  color: black;
}
.carousel-inner
{
  height: 275px;
}
/** ARTICLES **/
.articles{
  margin-top: 5px;
  text-align: center;
}


/** footer **/
footer{
  text-align: center;
}
